@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tgvbjo');
  src:  url('fonts/icomoon.eot?tgvbjo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tgvbjo') format('truetype'),
    url('fonts/icomoon.woff?tgvbjo') format('woff'),
    url('fonts/icomoon.svg?tgvbjo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  vertical-align: middle;
  text-align: center;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: middle;
  text-align: center;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home2:before {
  content: "\e901";
}
.icon-images:before {
  content: "\e90e";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-mobile2:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-ctrl1:before {
  content: "\ea51";
}
.icon-ctrl2:before {
  content: "\ea52";
}
